<nav>
    <div class="nav__container">
        <figure>
            <a routerLink="/"><img src="/assets/anitrack.webp" class="nav__logo" alt="AniTrack Logo"></a>
        </figure>
        <ul class="nav__links">
            <li class="nav__link click"><a routerLink="/" class="link__hover-effect">Home</a></li>
            <li class="nav__link click"><a routerLink="/search" class="link__hover-effect">Search</a></li>
            <li class="nav__link click"><a href="#" class="link__hover-effect cursor-availability">Login</a></li>
            <li class="nav__link signUpBtn click"><a href="#" >Sign Up</a></li>
        </ul>
    </div>
</nav>